<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S.W.E.A.T.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div id="header" class="text-center">
    <h1>S.W.E.A.T.</h1>
    <h5>Shower Wireless External Availability Tracker</h5>
</div>

<br>
<br>
<hr>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 text-center" id="first-column">
            <h2>First shower</h2>
            <div id="status-first">
                <p>loading...</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 text-center" id="second-column">
            <h2>Second shower</h2>
            <div id="status-second">
                <p>loading...</p>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/script.js" ></script>
</html>