<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S.W.E.A.T.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>S.W.E.A.T.</h1>
<h2>Shower Wireless External Availability Tracker</h2>
<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).AVAILABLE}">

    <h3>AVAILABLE</h3>


</div>


<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).OCCUPIED}">

    <h3>OCCUPIED</h3>


</div>

<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).IO_ERROR}">

    <h3>IO ERROR</h3>


</div>
</body>
</html>