<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).AVAILABLE}">

    <h3>AVAILABLE</h3>
    <img src="/available.jpg" width="300" height="300" style="transform:rotate(90deg);">

</div>


<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).OCCUPIED}">

    <h3>OCCUPIED</h3>
    <img src="/occupied.png">
    <img src="/forbidden.png">

</div>

<div th:if="${status == T(org.sonarsource.shipit.sweat.ShowerAvailability.Status).IO_ERROR}">

    <h3>IO ERROR</h3>


</div>
</html>